<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- Vue3 CDN -->
        <link rel="stylesheet" href="../Intro-to-Vue-3/assets/styles.css" />
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="nav-bar"></div>

            <div class="cart">Cart({{ cart }})</div>

            <div class="product-display">
                <div class="product-container">
                    <div class="product-image">
                        <img :src="image" />
                        <a :href="youtube">sza</a>
                    </div>
                    <!-- {{}} 裡面放得東西是透過vue連接 -->
                    <!-- 有點像是電話得概念，串街過去 -->
                    <div class="product-intro">
                        <!-- <h1>{{ brand + " " + product }}</h1> -->
                        <h1>{{ title }}</h1>

                        <!-- <p v-else-if="inventory <= 10 && inventory > 0">Almost out of stock</p> -->
                        <p v-if="inStock">In Stock</p>
                        <p v-else>Out of Stock</p>
                        <p v-show="testShow">abc</p>
                        <ul>
                            <li v-for="detail in details">{{ detail }}</li>
                        </ul>
                        <div
                            v-for="(variant, index) in variants"
                            :key="variant.id"
                            @mouseover="updateVariant(index)"
                            class="color-circle"
                            :style="{backgroundColor:variant.color }"
                        >
                            {{ }}
                        </div>
                        <!-- <button class="button" v-on:click="cart += 1">add to Cart</button> -->
                        <!-- <button class="button" v-on:click="addToCart">add to Cart</button> -->
                        <button class="button" :class="{disabledButton: !inStock}" :disabled="!inStock" @click="addToCart">add to Cart</button>
                    </div>
                </div>
            </div>
        </div> 

        <!-- import App -->
        <script src="./creating_the_vue_app.js"></script>
        <script>
            const mountedApp = app.mount("#app");
        </script>
    </body>
</html>
